body {
    font-family: Arial, sans-serif;
    font: 15px arial, sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container {
    width: 80%;
    margin: auto;
}


.search-container {
    margin-bottom: 20px;
}

.result-container {
    max-width: 600px;
    margin: 20px auto;
}


ul {
    list-style: none;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/*button*/


.tab button {
    --bg: #000;
    --hover-bg: #ff90e8;
    --hover-text: #000;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
  }
  
  .tab button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  .tab button:active {
    transform: translate(0);
    box-shadow: none;
  }

#message-container {
    max-height: 80vh;
    /* Đặt chiều cao tối đa của container, ví dụ 80% chiều cao của trình duyệt */
    overflow-y: auto;
    /* Tạo thanh cuộn khi container quá cao */
    border: 1px solid #ccc;
    /* Đường viền để dễ nhìn thấy */
    padding: 10px;
    width: 300px;
    align-self: center;
}

#message-container div#message1 {
    text-align: right;
}

#message-container div#message2 {
    text-align: left;
}

/*====*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    /* Màu nền của thanh điều hướng */
    z-index: 1000;
    /* Đảm bảo thanh điều hướng hiển thị trên cùng */
}

main {
    margin-top: 50px;
    /* Điều chỉnh giá trị này tùy thuộc vào chiều cao của thanh điều hướng */
    /* ... */
}

#Game {
    grid-template-rows: 50% 50%;
}
